
.sprity-24pt {
    display: inline-block;
    height: 24px;
    background-repeat: no-repeat;
    width: 24px;
    background-size: 140px auto;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue","MIcrosoft YaHei",sans-serif !important;
    background-color: #F8F8F8;
}

.com-footer {
    margin-top: 40px;
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input, button, select, textarea{
    outline:none;
}

h6 {
    font-size: 1em;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

dl {
    margin: 0;
}

dd {
    margin: 0;
}

button, input {
    outline: none;
}

@font-face {
    font-family: "quote";
}

.icon-quote {
    font-family:"quote" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before { content: "\e629"; }

@font-face {
    font-family: "iconfont";
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zoom_icon:before { content: "\e604"; }

.icon-star_icon:before { content: "\e606"; }

.icon-btn_left:before { content: "\e608"; }

.icon-btn_right:before { content: "\e609"; }

.icon-header_location:before { content: "\e60a"; }

.icon-close_icon:before { content: "\e60b"; }

.icon-downarrow:before { content: "\e60f"; }

.icon-search:before { content: "\e611"; }

.icon-comment:before { content: "\e613"; }

.icon-checked:before { content: "\e614"; }

.icon-checkbox:before { content: "\e615"; }

.icon-up:before { content: "\e616";
    background: linear-gradient(135deg, #FFD000 0%, #FFBD00 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-hotel:before { content: "\e617"; }

.icon-bar:before { content: "\e618"; }

.icon-ktv:before { content: "\e619"; }

.icon-beauty:before { content: "\e61a"; }

.icon-food:before { content: "\e61b"; }

.icon-child:before { content: "\e61c"; }

.icon-married:before { content: "\e61d"; }

.icon-medical:before { content: "\e61e"; }

.icon-pet:before { content: "\e61f"; }

.icon-pedicure:before { content: "\e620"; }

.icon-travel:before { content: "\e621"; }

.icon-lable_level_1:before { content: "\e623"; color:#FFC300;}

.icon-lable_level_2:before { content: "\e622"; color:#FFC300;}

.icon-lable_level_3:before { content: "\e627"; color:#FFC300;}

.icon-lable_level_4:before { content: "\e624"; color:#FFC300;}

.icon-lable_level_5:before { content: "\e625"; color:#FFC300;}

.icon-lable_level_6:before { content: "\e626"; color:#FFC300;}

.icon-lable_level_7:before { content: "\e629"; color:#FFC300;}

.icon-lable_level_8:before { content: "\e628"; color:#FFC300;}

.icon-message_iconx:before { content: "\e62a"; color:rgb(253,194,45)}

.icon-collection_iconx:before { content: "\e62b"; color:#FFC300; font-size: 24px; }

.icon-order_iconx:before { content: "\e62c"; color:#FFC300; font-size: 24px; }

.icon-more_iconx:before { content: "\e62d"; color:#FFC300; font-size: 24px; }

.icon-comment_iconx:before { content: "\e62e"; color:#FFC300; font-size: 24px; }

.icon-money_iconx:before { content: "\e62f"; color:#FFC300; font-size: 24px; }

.icon-ticket_iconx:before { content: "\e630"; color:#FFC300; font-size: 24px; }

.icon-setting_iconx:before { content: "\e631";  font-size: 24px; }

.icon-safe {
    background-position: 80%;
    float: left;
    position: relative;
    top: -7px;
}

@font-face {
    font-style: normal;
    font-weight: normal;
}

.numfont {
    font-family: "numbers" !important;
    letter-spacing: -0.5px;
}


.mf-shang-hei-regular {
    font-family: "MFShangHei-Regular" !important;
}

@keyframes fadeInAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAni {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in{
    animation-name: fadeInAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

.fade-out{
    animation-name: fadeOutAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

.lazyImg{
    animation-name: fadeInAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}
.home-category-iconfont {
    font-family:"home-category-iconfont" !important;
    font-size:14px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hc-icon-bar:before { content: "\e621"; }

.hc-icon-food:before { content: "\e622";  }

.hc-icon-child:before { content: "\e623"; }

.hc-icon-education:before { content: "\e624"; }

.hc-icon-decorate:before { content: "\e625"; }

.hc-icon-beauty:before { content: "\e626"; }

.hc-icon-ktv:before { content: "\e627"; }

.hc-icon-medical:before { content: "\e628"; }

.hc-icon-married:before { content: "\e629"; }

.hc-icon-hotel:before { content: "\e62a"; }

.hc-icon-sport:before { content: "\e62b"; }

.hc-icon-maoyan:before { content: "\e62c"; }

.hc-icon-travel:before { content: "\e62d"; }

.hc-icon-default:before { content: "\e62f"; }

.hc-icon-waimai:before { content: "\e630"; }

.hc-icon-zhenguo:before { content: "\e631"; }

.hc-icon-plane:before { content: "\e632"; }

.hc-icon-life:before { content: "\e633"; }

.icon-userinfo {
    font-family:"icon-userinfo" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before { content: "\e626"; }

.icon-orders:before { content: "\e627"; }

.icon-nonpayment:before { content: "\e628"; }

.icon-unused:before { content: "\e629"; }

.icon-refund:before { content: "\e62a"; }
.col-iconfont {
    font-family:"col-iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e62a"; }

.icon-card:before { content: "\e62b"; }

.icon-pastdue:before { content: "\e62c"; }


.iconfontNew {
    font-family: "iconfontNew" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hc-icon-foodNew:before{ content: '\e60e';color:#FF8200;vertical-align:middle;line-height: 18px; }

.hc-icon-hotelNew:before{ content:'\e616';color:#9B5E3E;vertical-align:middle;line-height: 18px; }

.hc-icon-maoyanNew:before{ content:'\e612';color:#FF3D00;vertical-align:middle;line-height: 18px; }

.hc-icon-ktvNew:before{ content:'\e607';color:#00BF96;vertical-align:middle;line-height: 18px; }

.hc-icon-zhenguoNew:before{ content:'\e60c';color:#FFB500;vertical-align:middle;line-height: 18px; }

.hc-icon-beautyNew:before{ content:'\e60f';color:#FF4081;vertical-align:middle;line-height: 18px; }

.hc-icon-marriedNew:before{ content:'\e609';color:#FF4081;vertical-align:middle;line-height: 18px; }

.hc-icon-childNew:before{ content:'\e608';color:#FF4081;vertical-align:middle;line-height: 18px; }

.hc-icon-sportNew:before{ content:'\e611';color:#03A9F4;vertical-align:middle;line-height: 18px; }

.hc-icon-decorateNew:before{ content:'\e60b';color:#00BF96;vertical-align:middle;line-height: 18px; }

.hc-icon-educationNew:before{ content:'\e610';color:#00BF96;vertical-align:middle;line-height: 18px; }

.hc-icon-medicalNew:before{ content:'\e60d';color:#03A9F4;vertical-align:middle;line-height: 18px; }

.hc-icon-barNew:before{ content:'\e606';color:#00BF96;vertical-align:middle;line-height: 18px; }

.hc-icon-waimaiNew:before{ content:'\e60a';color:#FFB500;vertical-align:middle;line-height: 18px; }

.hc-icon-planeNew:before{ content:'\e615';color:#03A9F4;vertical-align:middle;line-height: 18px; }

.hc-icon-lifeNew:before{ content:'\e614';color:#00BF96;vertical-align:middle;line-height: 18px; }

.hc-icon-travelNew:before{ content:'\e613';color:#03A9F4;vertical-align:middle;line-height: 18px; }


.levelIconNew {
    font-family: "level-icon-new" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-new-level_1:before { content: "\e603"; color: #222222; }

.icon-new-level_2:before { content: "\e608"; color: #222222; }

.icon-new-level_3:before { content: "\e607"; color: #222222; }

.icon-new-level_4:before { content: "\e602"; color: #222222; }

.icon-new-level_5:before { content: "\e604"; color: #222222; }

.icon-new-level_6:before { content: "\e601"; color: #222222; }

.icon-new-level_7:before { content: "\e606"; color: #222222; }

.icon-new-level_8:before { content: "\e605"; color: #222222; }

